body {
    background-color: #FBEEC1;
    margin: 0px auto;
    padding: 0px;
    line-height: 1.5em;
    width: 98%;
    max-width: 780px;
    min-width: 250px;
}

@font-face {
    font-family: "rpgfont";
    src: url("gaming.ttf")
}
header {
    width: 100%;
    text-align: left;
    }


.bar{ display: inline-block;
    font-family: 'rpgfont';
    color: white;


}
p {
    font-size: 17px;
    font-family: "rpgfont";
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
 

section {
    display: block;
    left: 40px;
    position:relative;  top:125px;
}

aside {
    width: 30%;
    right: 40px;
    float: right;
    position:relative;  top:125px;
    line-height: 2;
}

div.wrap {
  width:2400px;
  margin:0 auto;
}
