body {
    background-color: #FBEEC1;
    margin: 0px auto;
    padding: 0px;
    line-height: 1.5em;
    width: 98%;
    max-width: 780px;
    min-width: 250px;
}

@font-face {
    font-family: "rpgfont";
    src: url("gaming.ttf")
}
header {
    width: 100%;
    text-align: left;
    }
nav {
        display: block;
        width: 100%;
    }
section nav {
        font-size: 0.9em;
        text-align: center;
        padding-bottom: 20px;
}
nav ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        font-size: 0.8em;
}
        
nav ul li {
        display: block;
        float: left;
        width: 15.6%;
        height: 20px;
        text-align: center;
        border: 1px solid #2d04ff;
        background-color: #afd3f3;
        line-height: 1.5em;
        margin: 0px 4px 5px 0px;
}




h1 {
    font-family: "rpgfont";
    font-size: 25px;

    display:  block;}    
p {
    font-size: 17px;
    font-family: "rpgfont";
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
 

section {
    display: block;
 
    left: 40px;
    position:relative;  top:125px;
}

aside {
    width: 30%;
    right: 40px;
    float: right;
    position:relative;  top:125px;
    line-height: 2;
}

div.wrap {
  width:2400px;
  margin:0 auto;
}
