<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
        </head>
<body>
  <div class="wrap">
    <header>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="final.html">Final</a></li>
          </ul>	
        </nav> 
        </header>

        
    <p>You chose: {{ user_choice }}</p>
    <p>The computer chose: {{ computer_choice }}</p>
    <p>Results: {{ results_message }}</p>

  </div>
    <footer> 
        
        <p>Team1:Andy, Anzar, Jenna, Huaiyuan, Xinjie </p>
   
    </footer>   
</body>

</html>
