<!DOCTYPE html>
<html>
    
<head><link rel="stylesheet" href="henry.css"></head>
    
    <body>
       
        <header>Text Game RPG</header>
       
        <section>  <p> This is a game simulator about rock, paper, scissors  </p> 
            <img src="game.png"  >
        </section>
        <audio controls autoplay>  <source src="rpg.mp3" type="audio/mp3" autostart="true">         </audio>
       
        </iframe> 
       <aside><article> 
           <p> This is where the game description belongs </p>
            <p  div style="font-size: 22px;"> Rock paper scissors is a hand game usually played between two people, 
                in which each player simultaneously forms one of three shapes with an outstretched hand.
                These shapes are "rock", "paper", and "scissors".</p>
            </article>
        
        </aside>

    <footer> 
        
        <p>Team1:Andy, Anzar, Jenna, Huaiyuan, Xinjie </p>
    
    </footer>
    
    </body>

</html>