<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href='static/style.css' />
</head>

<body>
  <header>Rock Paper Scissor Simulator</header>
  <nav>
    <ul style="text-align:center;">
      <li style="display: inline-block; font-family: 'rpgfont' ;"><a href="index.html" style="display:block; padding: 8px; color: black; background-color: whitesmoke;">Home</a></li>
      <li style="display: inline-block; font-family: 'rpgfont' ;"><a href="final.html" style="display:block; padding: 8px; color: black; background-color: whitesmoke;">Final</a></li>
    </ul>	
  </nav> 

  <hr style="background-color: gray; text-align: center; height: 5px;">

<section><p style="text-align:center;">
This site is a prototype API for rock paper scissor game.
</p></section>

<section></section><p style="text-align:center;">
    Rules
    Rock blunts scissors
    Paper covers rock
    Scissors cut paper
</p></section>

<section style="text-align:center;"><p>
<form action="/results" method="POST">

    <label>Please choose one of the following options:</label>
    <select name="choice">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>

    <button>Submit</button>
</form>
</p>
</section>

<section>
<!--Edited by Xinjie Lin 4/7/2021 6:38 PM-->
<!--<p>{{ random_number }} is your random number. </p>-->
<!--End of Edit-->
</section>
<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
  }
  </style>
  
  <div class="footer">
    <p><b>Authors:</b> Andy, Jenna, Anzar, Huaiyuan, Xinjie</p>
  </div>
</body>
</html>