<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href='/static/style.css' />
</head>

<body>
<h1>Rock Paper Scissor simulator</h1>

<p>
This site is a prototype API for rock paper scissor game.
</p>

<p>
    Rules
    Rock blunts scissors
    Paper covers rock
    Scissors cut paper
</p>

<p>
<form action="/results" method="POST">

    <label>Please choose one of the following options:</label>
    <select name="choice">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select>

    <button>Submit</button>
</form>
</p>

</body>
</html>