<html>

<body style="background-color:powderblue;">

<h1 style="color:green;text-align:center">Rock! Paper! Scissors! SHOOT!</h1>
<p style="text-align:center;"><b>This site is a prototype API for our rock, paper, scissor simulator!</b></p>

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p><b>Authors:</b> Andy, Jenna, Anzar, Huaiyuan, Xinjie</p>
</div>
</body>

</html>